$main_color: #2A4C5E;
$additional_color: #64696C;
$gray_color: #2c3e50;
$blue_color: #1a73e8;
$red_color: #dc3545;
$white_color: #ffffff;
$light_color: #B8C2C7;
$link_color: #d3bab0;
$link_color_active:#E3D8CB;
$background-color-body: #F1EAE3;
$background_color_header: #818B90;
$background_color_footer: #64696C;