$main_color: #2a4c5e;
$additional_color: #64696c;
$gray_color: #2c3e50;
$blue_color: #1a73e8;
$red_color: #dc3545;
$white_color: #ffffff;
$light_color: #b8c2c7;
$link_color: #d3bab0;
$link_color_active: #e3d8cb;
$background-color-body: #f1eae3;
$background_color_header: #818b90;
$background_color_footer: #64696c;
